body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./images/home.jpeg);
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a.main-menu-item {
  color: white;
  text-decoration: none;
}

section.main-container {
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}

/* Only for retrospective */
/* #root > section > div  {
  background-color: rgba(255, 255, 255, 0.9);
} */

#root > section > div.MuiPaper-root, div.react-calendar  {
  background-color: rgba(255, 255, 255, 0.9);
}

#root > section > footer.MuiBox-root {
  background-color: rgba(25, 118, 210, 1);
  width: 100%;
  margin-left: auto;
  margin-bottom: auto;
}

div.MuiGrid-container {
  background-color: transparent;
}

a.search {
  width: 140px
}

@media screen and (max-width: 400px) {
  #welcome-user {
      display: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
