div.menu {
  display: flex;
}
div.user-background {
  background-image: url("../../images/background.png");
  background-color: #e3f2fd;
}

div.MuiListItemAvatar-root div.MuiAvatar-circular {
  background-color: rgba(25, 118, 210, 1);
}

div#login-signup {
  background-color: rgba(255, 255, 255);
}

div#login-image {
  background-image: url("../../images/login.jpeg");
}

div#signup-image {
  background-image: url("../../images/signup.jpeg");
}
